[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
starlette-context = "*"
python-json-logger = "*"
aiohttp = "*"
requests = "*"
pyopenssl = "*"
gunicorn = "*"
cryptography = "*"
orjson = "*"

[dev-packages]

[requires]
python_version = "3.10"
